
.tag-pill {
    display: inline-block;
    padding: 0.35rem 0.75rem;
    border-radius: 999px;
    font-weight: bold;
    color: #fff;
    position: relative;
    cursor: default;
    font-size: 0.8rem;
    margin-top: 0.25rem;
  }
  
  .tooltip-text {
    visibility: hidden;
    width: max-content;
    background-color:#222;
    color:#fff;
    text-align: center;
    border-radius: 6px;
    padding: 0.25rem 0.5rem;
    position: absolute;
    z-index: 10;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s ease;
    white-space: nowrap;
  }
  
  .tag-pill:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
  }